{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Inventory</h1>
    <br/><br/><br/><br/><br/>
    <a href="{{ path('blog_index') }}" type="button" 
     class="btn btn-default btn-lg btn-block">Back to blog</a>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="javascript:;" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> 
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
